html,
body,
#app{
    height: 100%;
    /*background-color: rgb(40,40,40);*/
}

.index{
    height: 100%;
}

.index-left{
    /*border-width: 1px;*/
    /*border-top: black;*/
    /*border-style: solid;*/
    height: 100%;
    /*color: white;*/
}

.index-center{
    border-width: 1px;
    border-top: black;
    border-style: solid;
    height: 100%;
}

.index-right{
    border-width: 1px;
    border-top: black;
    border-style: solid;
    height: 100%;
}